.gameboard{
    display:flex;
    width: 80%;
    background-color: black;
}
  
.gametile {
    background-color:gray;
    width: 50px;
}
  
div {
    background-color:red;
    width: 100px;
}
